@font-face {
    font-family: 'Sofia';
    src: url('Sofia-Regular.ttf');
    }

body{
font-family:'Sofia';}
a {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: white;
}
h2{
font-size:1em;
}
td, th {
    border: 1px solid #777;
    padding: 0.5rem;
    text-align: center;
}

table {
    border-collapse: collapse;
}

tbody tr:nth-child(odd) {
    background: #eee;
}
caption {
    font-size: 0.8rem;
}
form{
margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
}
input{
margin:5px;

	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;}

button{
margin-top:10px;

                display: inline-block;
                outline: 0;
                border: none;
                cursor: pointer;
                padding: 0 24px;
                border-radius: 50px;
                min-width: 200px;
                height: 25px;
                background-color: #fd0;
                color: #222;

                }